:root {
  --main-bg-color: hsl(212, 45%, 89%);
  --content-bg-color: hsl(0, 0%, 100%);
  --content-boxshadow-color: hsl(0, 0%, 0%, 4.77%);
  --content-header-fontcolor: hsl(218, 44%, 22%);
  --content-text-fontcolor: hsl(216, 15%, 48%);
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --40px: 2.5rem;
  --288px: 18rem;
  --font-weight-bold: 700;
  --font-weight-light: 300;
}

html {
    font-family: Outfit, sans-serif;
}

body {
    background-color: var(--main-bg-color);
}

.parent-container {
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: var(--content-bg-color);
    box-shadow: 0 var(--25px) var(--25px) var(--content-boxshadow-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--20px);
    align-items: center;
    padding-top: var(--16px);
    padding-left: var(--16px);
    padding-right: var(--16px);
    padding-bottom: var(--40px);
}

.content img {
    border-radius: 0.625em;
    width: var(--288px);
    height: var(--288px);
}

.content h1 {
    color: var(--content-header-fontcolor);
    font-size: 1.375rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.content p {
    color: var(--content-text-fontcolor);
    font-size: 0.9375rem;
    font-weight: var(--font-weight-light);
    text-align: center;
}

